.container {
  width: 100%;
  padding: 3rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  span:first-child {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: .1rem;
  }

  span:first-child::before {
    display: inline-block;
    content: '<';
    font-weight: 400;
    color: var(--green-200);
    margin-right: 0.5rem;
  }

  span:first-child::after {
    content: '/>';
    font-weight: 100;
    color: var(--green-200);
    margin-left: 0.5rem;
  }

  span:last-child {
    font-weight: 700;
    font-size: 0.9rem;
  }
}

@media (max-width: 500px) {
  .container {
    justify-content: center;

    span:last-child {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 3rem 0;
  }
}