.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.containerInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerTech {
  width: 100%;
  
  div:first-child {
    max-width: 450px;

    h4 {
      display: flex;
      align-items: center;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--white);
      svg {
        color: var(--green-200);
        margin-right: 1rem;
      }
    }
  }

  .containerImg {
    margin-top: 1rem;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;

    img {
      margin-right: 2rem;
      margin-top: 1rem;
      & + img {
        margin-right: 2rem;
      }
    }
  }
}

.containerProject {
  padding: 4rem 0;
  width: 100%;

  div:first-child {
    margin-bottom: 2rem;
    max-width: 450px;

    h4 {
      display: flex;
      align-items: center;
      font-weight: 400;
      text-transform: uppercase;
      color: var(--white);
      svg {
        color: var(--green-200);
        margin-right: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .containerInfo {
    img {
      display: none;
    }
  }

  .containerAbout {
    flex-wrap: wrap;

    section:last-child {
      margin-top: 3rem;

      h5 {
        margin: 1rem 0 .2rem 0;
        font-weight: 400;
        font-size: 1rem;
      }

      p {
        color: var(--gray-300);
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 1439px) {
  .containerInfo {
    .containerInfoImg {
      margin-left: 2rem;

      img {
        width: 65%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .containerInfo {
    .containerInfoImg {
      margin-left: 2rem;

      img {
        width: 70%;
      }
    }
  }
}
